:root {
  --primary-white-color: #ffffff;
  --primary-sonic-color: #757575;
  --primary-blue-color: #2196f3;
  --primary-black-color: #212121;
  --primary-background-color: #2f303a;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-black-color);
}

ul,
ol {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header {
  border-bottom: 1px solid #ececec;
}

@media screen and (max-width: 767.98px) {
  .site-header {
    position: relative;
    padding: 10px 0;
  }
  .site-nav,
  .contact-header {
    display: none;
  }
  .mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-btn:hover, .mobile-menu-btn:focus {
    fill: var(--primary-blue-color);
  }
  .mobile-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 100vh;
    overflow: auto;
    background-color: var(--primary-white-color);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__btn-close {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__btn-close:hover, .mobile-menu__btn-close:focus {
    fill: var(--primary-blue-color);
  }
  .mobile-menu__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    position: relative;
    padding: 48px 0 48px 40px;
  }
  .mobile-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-nav__link {
    color: var(--primary-black-color);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-nav__link:hover, .mobile-nav__link:focus {
    color: var(--primary-blue-color);
  }
  .mobile-nav__link--current {
    color: var(--primary-blue-color);
  }
  .mobile-contact-header {
    margin-bottom: 64px;
  }
  .mobile-contact-header_link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--primary-sonic-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-contact-header_link:hover, .mobile-contact-header_link:focus {
    color: var(--primary-blue-color);
  }
  .mobile-contact-header_link--accent {
    display: block;
    font-size: 34px;
    line-height: 1.18;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--primary-blue-color);
    margin-bottom: 32px;
  }
  .mobile-header-social {
    display: flex;
    flex-wrap: wrap;
  }
  .mobile-header-social__item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
  }
  .mobile-header-social__item:not(:first-child) {
    padding-left: 10px;
  }
  .mobile-header-social__link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: var(--primary-blue-color);
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn, .mobile-menu {
    display: none;
  }
  .site-header {
    padding: 21px 0;
  }
  .site-header__navigation {
    display: flex;
    align-items: center;
  }
  .site-nav {
    margin-left: 88px;
    display: flex;
    align-items: center;
  }
  .site-nav__item {
    position: relative;
  }
  .site-nav__item:not(:last-child) {
    margin-right: 50px;
  }
  .site-nav__link {
    color: var(--primary-black-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .site-nav__link:hover, .site-nav__link:focus {
    color: var(--primary-blue-color);
  }
  .site-nav__link--current {
    color: var(--primary-blue-color);
  }
  .site-nav__link--current::after {
    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--primary-blue-color);
    position: absolute;
    top: 47px;
    left: 0;
    cursor: default;
  }
}

@media screen and (min-width: 768px) and (min-width: 768px) and (max-width: 1199.98px) {
  .contact-header__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .contact-header__link {
    display: flex;
    align-items: center;
    color: var(--primary-sonic-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-header__link:hover, .contact-header__link:focus {
    color: var(--primary-blue-color);
  }
  .contact-header__link-icon {
    margin-right: 8px;
    fill: var(--primary-sonic-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-header__link:hover .contact-header__link-icon,
  .contact-header__link:focus .contact-header__link-icon {
    fill: var(--primary-blue-color);
  }
}

@media screen and (min-width: 1200px) {
  .site-header {
    padding: 24px 0;
  }
  .site-nav {
    margin-left: 93px;
  }
  .contact-header {
    display: flex;
    align-items: center;
  }
  .contact-header__item--margin--right {
    margin-right: 50px;
  }
  .contact-header__link {
    font-size: 14px;
    line-height: 1.14;
  }
  .contact-header__link-icon {
    margin-right: 10px;
  }
}

.banner {
  max-width: 1600px;
  margin: 0 auto;
  padding: 118px 0;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile-header.jpg");
  background-color: #c4c4c4;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .banner {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile-header@2x.jpg");
  }
}

.banner__title {
  margin: 0 auto 30px;
  color: var(--primary-white-color);
  max-width: 360px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .banner {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet-banner.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .banner {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet-banner@2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .banner {
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background.jpg");
  }
  .banner__title {
    max-width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .banner {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background@2x.jpg");
  }
}

@media screen and (max-width: 767.98px) {
  .features-list__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
  }
  .features-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .features-list {
    display: flex;
    flex-wrap: wrap;
  }
  .features-list__title {
    text-align: center;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .features-list__text {
    color: var(--primary-sonic-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .features-list__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
  }
  .features-list__item {
    width: 354px;
  }
  .features-list__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .features-list__item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
  .features-list {
    display: flex;
    flex-wrap: wrap;
  }
  .features-list__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .features-list__text {
    color: var(--primary-sonic-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .features-list__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
  }
  .features-list__item {
    width: 270px;
  }
  .features-list__item:not(:nth-child(4n)) {
    margin-right: 30px;
  }
  .features-list {
    display: flex;
  }
  .features-list__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .features-list__text {
    color: var(--primary-sonic-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.project-list {
  display: flex;
}

.project-list__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.project-list__item-wrapper {
  position: relative;
}

.project-list__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  width: 100%;
  height: 70px;
  text-transform: uppercase;
}

.team-list {
  display: flex;
}

.team-list__wrapper {
  padding: 30px 32px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.team-list__item {
  background-color: var(--primary-white-color);
}

.team-list__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list__text {
  margin-bottom: 16px;
  color: var(--primary-sonic-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199.98px) {
  .team-list {
    flex-wrap: wrap;
  }
  .team-list__wrapper {
    padding: 30px 0;
  }
}

@media screen and (max-width: 767.98px) {
  .team-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team-list__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
  .team-list__item:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list__item:not(:nth-child(4n)) {
    margin-right: 30px;
  }
}

.clients-list {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1199.98px) {
  .clients-list {
    flex-wrap: wrap;
  }
}

.clients-list__item {
  flex-basis: calc((100% - 30px)/2);
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    flex-basis: calc((100% - 60px)/3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    flex-basis: calc((100% - 150px)/6);
  }
}

@media screen and (max-width: 767.98px) {
  .clients-list__item:nth-child(-n+4) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .clients-list__item:nth-child(-n+3) {
    margin-bottom: 30px;
  }
}

.clients-list__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover .clients-list__icon,
.clients-list__link:focus .clients-list__icon {
  fill: var(--primary-blue-color);
}

.clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  height: 92px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover, .clients-list__link:focus {
  border: 1px solid var(--primary-blue-color);
}

.site-footer {
  background-color: var(--primary-background-color);
  padding: 60px 0;
}

@media screen and (max-width: 767.98px) {
  .site-footer {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-container {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .address-container {
    margin-right: 70px;
  }
}

.address {
  margin-top: 20px;
}

@media screen and (max-width: 767.98px) {
  .address {
    margin-bottom: 60px;
  }
}

.contact-footer__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .contact-footer__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.contact-footer__link {
  color: var(--primary-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-footer__link:hover, .contact-footer__link:focus {
  color: var(--primary-blue-color);
}

.contact-footer__link--color--transparent {
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-footer__link--color--transparent:hover, .contact-footer__link--color--transparent:focus {
  color: var(--primary-blue-color);
}

@media screen and (max-width: 767.98px) {
  .footer-social {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    margin-right: auto;
  }
}

.footer-social__text {
  margin-bottom: 20px;
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-social__text {
    text-align: center;
  }
}

.footer-social-list {
  display: flex;
  justify-content: center;
}

.footer-social-list__item:not(:last-child) {
  margin-right: 10px;
}

.footer-social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list__link:hover, .footer-social-list__link:focus {
  background-color: var(--primary-blue-color);
}

.footer-social-list__icon {
  fill: var(--primary-white-color);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-subscribe-form {
    margin-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-subscribe-form__wrapper {
    display: flex;
  }
}

.footer-subscribe-form__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: var(--primary-white-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-form__input::placeholder {
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscribe-form__input:focus {
  outline: none;
  border-color: var(--primary-blue-color);
}

@media screen and (min-width: 768px) {
  .footer-subscribe-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-subscribe-form__input {
    width: 358px;
  }
}

.footer-subscribe-form__icon {
  margin-left: 10px;
}

.footer-subscribe-form__icon-style {
  fill: var(--primary-white-color);
}

.portfolio-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-buttons-list {
  display: flex;
  margin-bottom: 40px;
}

@media screen and (max-width: 767.98px) {
  .portfolio-item {
    margin-top: 15px;
  }
  .portfolio-buttons-list {
    flex-wrap: wrap;
    margin-top: -15px;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-buttons-list {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-buttons-list {
    margin-bottom: 50px;
  }
}

.portfolio-buttons {
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  font-family: inherit;
  background-color: #f5f4fa;
  color: var(--primary-black-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  transition-property: box-shadow, background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-buttons:hover, .portfolio-buttons:focus {
  background-color: var(--primary-blue-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-card-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-link:hover, .portfolio-card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-card-img-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-link:hover .overlay,
.portfolio-card-link:focus .overlay {
  transform: translateY(0%);
}

.portfolio-card-container {
  padding: 20px 18px;
  border: 1px solid #eeeeee;
}

@media screen and (max-width: 1199.98px) {
  .portfolio-card:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-card:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
  }
}

.portfolio-card-title {
  margin-bottom: 4px;
  color: var(--primary-black-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-card-description {
  color: var(--primary-sonic-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.logo {
  color: var(--primary-blue-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__black {
  color: #000000;
}

.logo__white {
  color: var(--primary-white-color);
}

.banner__buttons {
  padding: 10px 32px;
  border-radius: 4px;
  border: transparent;
  font-family: inherit;
  color: var(--primary-white-color);
  background-color: var(--primary-blue-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.banner__buttons:hover, .banner__buttons:focus {
  background-color: #188ce8;
}

.banner__buttons.footer-subscribe-form__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 28px;
  margin-left: 12px;
}

.banner__buttons.footer-subscribe-form__button:hover, .banner__buttons.footer-subscribe-form__button:focus {
  background-color: #188ce8;
}

.banner__buttons.contact-form-submit-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 56px;
}

.banner__buttons.contact-form-submit-btn:hover, .banner__buttons.contact-form-submit-btn:focus {
  background-color: #188ce8;
}

@media screen and (max-width: 1199.98px) {
  .banner__buttons.footer-subscribe-form__button {
    margin: 20px auto 0;
  }
}

.section {
  padding: 94px 0;
}

.section--padding--zero {
  padding-top: 0;
}

.section--background--white {
  background-color: #f5f4fa;
}

.section__title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

@media screen and (max-width: 1199.98px) {
  .section {
    padding: 60px 0;
  }
  .section__title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;
  }
  .section.section--padding--zero {
    display: none;
  }
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: #2196f3;
}

.social-list__icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
  fill: var(--primary-white-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: opacity, visibility, transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scalex(2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  height: 609px;
  background-color: var(--primary-white-color);
  padding: 40px;
}

@media screen and (max-width: 1199.98px) {
  .modal {
    max-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--primary-blue-color);
  outline: none;
}

.contact-form-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .contact-form-text {
    line-height: 1.15;
  }
}

.contact-form-field {
  display: block;
  margin-bottom: 10px;
}

.contact-form-title {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-sonic-color);
  margin-bottom: 4px;
}

.contact-form-input-wrapper {
  position: relative;
  display: block;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
  outline: none;
  border-color: var(--primary-blue-color);
}

.contact-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus + .contact-form-icon {
  fill: var(--primary-blue-color);
}

.contact-form-comments {
  display: block;
  margin-bottom: 20px;
}

.contact-form-message {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message:focus {
  outline: none;
  border-color: var(--primary-blue-color);
}

.contact-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.contact-form-checkbox-wrapper {
  margin-bottom: 30px;
}

.contact-form-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-sonic-color);
}

.contact-form-checkbox-label::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-black-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 7px;
}

.contact-form-checkbox:focus + .contact-form-checkbox-label::before {
  outline: 1px solid var(--primary-blue-color);
}

.contact-form-checkbox:checked + .contact-form-checkbox-label::before {
  background-image: url("../images/chek-icon.svg");
  background-color: var(--primary-blue-color);
  border-radius: 2px;
  border-color: var(--primary-blue-color);
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 1200px) {
  .contact-form-checkbox-label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.policy-link {
  color: var(--primary-blue-color);
  text-decoration-line: underline;
}
/*# sourceMappingURL=main.css.map */